* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #808080;
  width: 270px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
select {
  background-color: #808080;
  border: 1px solid #000;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  outline: none;
  border: none;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.collumn {
  display: flex;
  width: 160px;
  flex-direction: column;
}
#colorInput {
  display: flex;
  align-items: center;
  height: 55px;
  width: 37px;
  border: none;
  cursor: pointer;
}

.firstLine {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-bottom: 4px;
}

.secondLine {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}
select {
  cursor: pointer;
}

button {
  height: 25px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.884);
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.05s;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
}

button:active {
  transform: translateY(-4px);
}

.buttonWrapper {
  display: flex;
  width: 100%;
}
.title {
  position: relative;
}
.title::after {
  position: absolute;
  margin: auto;
  content: "Copied color!";
  bottom: -25px;
  left: 130px;
  background-color: #333;
  color: white;
  width: 60px;
  padding: 4px 8px;
  font-size: 0.8em;
  z-index: 20;
}
